footer:first-of-type {
    color: blue
}

.Preços:first-child {
    background-color: blueviolet;
    color: aliceblue;

}

.Preços:nth-child(2) {
    color: aliceblue;
    background-color: darkorchid;
}

.Preços:nth-child(3) 

::selection {
    color: darksalmon;
    background-color: blue;
}

p::selection {
    color: white;
    background-color: cadetblue;
}