body {

    background-image: url(cruz.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1 {

    text-align: center;
    border: 10px solid;
    padding: 2rem;
    margin: 4rem;
    background-color: #a47447;
    border-style: double;
    border-color: #000000;
}

p {
    text-align: right;
    margin: 2px;
    padding: 4rem;
    font-size: 0, 50cm;


}

.a_1 {
    float: right;
    margin: 2px;
    height: 1%;
    padding: 4rem;
    font-size: 0, 50cm;

}

footer {
    text-align: left;
    margin: 4px;
    padding: 4rem;
}

img {
    alt: Cruz de Jesus;
    background-size: cover;
}

image {
    padding: 10%;
    margin: 10%;
    border: 10px solid #000000;
}

figcaption {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}