@charset "utf-8";

body {
    background-attachment: scroll;
    background-image: url(cruz.jpg);
    background-repeat:no-repeat;
    background-color: #B24235;
    background-size: cover;
    color: #191970;
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    background-color: #66140B;
    color: black;
    text-align: center;
    line-height: 200%;
    font-family: Georgia, 'Times New Roman', serif;
    padding: 0.5em;
}

p {
    color: #191970;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: 8px;
}

img {
    height: 240px;
    width: 320px;
}

figure {
    width: 320px;
    padding: 5px;
    border: 2px solid #000000;
}

figcaption {
    text-align: center;
    font-family: Papyrus, fantasy;
}

footer {
    color: #333333;
    font-size: .75em;
    font-style: italic;
}